.invoice-data-fields {
  @include invoice-data-field;
  &__title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--label {
      margin-right: 0.5rem !important; // Needed to override MUI style just for this case
    }
  }
  &__summary {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &--line {
      display: flex;
      flex-direction: row;
      width: 30%;
      .left {
        text-align: left;
        flex: 1;
      }
      .rigth {
        text-align: right;
        flex: 1;
      }
    }
  }
}
