@import './Blocks/EditEmployeeDataFields';

.employee-data-fields {
  @include invoice-data-field;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__fields {
    &--field {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .employee-data-field-label {
        margin-right: 0.5rem;
      }
    }
  }
}
