@import './Blocks/EditEmployeeDataFields';

.employee-data-fields {
  @include invoice-data-field;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__fields {
    &--field {

    }
  }
}
