// Global styles
@import './Styles/colors';
@import './Styles/mixins';

// Components
@import './Components//CompanyDataFields/CompanyDataFields';
@import './Components/EmployeeDataFields/EmployeeDataFields';
@import './Components/InvoiceDataFields/InvoiceDataFields';
@import './Components/TopBar/TopBar';

.invoice-toolbar {
  text-align: right;
}

.invoice-paper {
  margin-top: 1rem;
  padding: 1rem;
}

.invoice-footer-description {
  margin-top: 3rem;
  padding: .5rem 0;
  border-top: 1px solid $black;
  width: 40%;
}
